ul {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    background-color: firebrick;
}

li {
    line-height: 1;
}

li a {
    text-decoration: none;
    color: white;
}
